<h3>Employees</h3>
<div class="grid grid-pad">
  <a *ngFor="let employee of employees" class="col-1-4" routerLink="/employee/{{employee.empId}}">
    <div class="module employees">
      <h4>{{employee.firstName}} {{employee.lastName}}</h4>
    </div>
  </a>
</div>
  <h3>Departments</h3>
<div class="grid grid-pad">
  <a *ngFor="let department of departments" class="col-1-4"
  routerLink="/detail/{{department.id}}">
    <div class="module departments">
      <h4>{{department.name}}</h4>
    </div>
  </a>
</div>
<h3>Tasks</h3>
<div class="grid grid-pad">
  <a *ngFor="let task of tasks" class="col-1-4"
  routerLink="/detail2/{{task.id}}">
    <div class="module tasks">
      <h4>{{task.name}}</h4>
    </div>
  </a>
</div>

<app-department-search></app-department-search>