
  <app-dashboard-search></app-dashboard-search>
  <h2>Employees</h2>
  <table>
  <tr class="head">
  <th>Employee First Name</th>
      <th>Employee Last Name</th>
  </tr>
  <tr *ngFor="let employee of employees" routerLink="/employee/{{employee.id}}" class="hoverable">
  <td>{{employee.first_name}}</td>
  <td>{{employee.last_name}}</td>
  </table>
  
    <h2>Departments</h2>
  <table>
  <tr class="head">
      <th>Department Name</th>
  </tr>
  <tr *ngFor="let department of departments" routerLink="/detail/{{department.id}}" class="hoverable">
  <td>{{department.name}}</td>
  </table>
  <h2>Tasks</h2>
  <table>
  <tr class="head">
      <th>Task Name</th>
  </tr>
  <tr *ngFor="let task of tasks" routerLink="/detail2/{{task.id}}" class="hoverable">
  <td>{{task.name}}</td>
  </table>