<nav class="navbar navbar-light bg-primary justify-content-center nav-fill">
        <a class="nav-item btn btn-primary btn-lg active" role="button"  routerLink="/dashboard">Dashboard</a>
        <a class="nav-item btn btn-primary btn-lg active" role="button"  routerLink="/employees">Employees</a>
        <a class="nav-item btn btn-primary btn-lg active" role="button"  routerLink="/departments">Departments</a>
        <a class="nav-item btn btn-primary btn-lg active" role="button"  routerLink="/tasks">Tasks</a>
        <a class="nav-item btn btn-primary btn-lg active" role="button"  routerLink="/calendar">Calendar</a>
</nav>
<router-outlet></router-outlet>
