<h2>Employees</h2>
<app-employee-search></app-employee-search>

    <input type="text" class="form-control" [(ngModel)]="firstName" placeholder="First Name">
    <input type="text" class="form-control" [(ngModel)]="lastName" placeholder="Last Name">

    
    <button (click)="onClick(firstName,lastName)">Add</button>
<ul class="employees">
<li *ngFor="let employee of employees" [class.selected]="employee === selectedEmployee"(click)="onSelect(employee.service)"  
    routerLink="/employee/{{employee.empId}}"><span class="badge">{{employee.empId}}</span> {{employee.firstName}} {{employee.lastName}}
    <span class="remove" (click)="onRemove(employee.sevice)">x</span>
</li>
</ul>