<div id="search-component">
  <h4>Search</h4>
 
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />
 
  <ul class="search-result">
    <li *ngFor="let department of departments$ | async" >
        <a routerLink="/detail/{{department.id}}">
          {{department.name}}
        </a>
    <li *ngFor="let task of tasks$ | async" >
        <a routerLink="/detail/{{task.id}}">
          {{task.name}}
        </a>
    <li *ngFor="let employee of employees$ | async" >
      <a routerLink="/detail/{{employee.id}}">
        {{employee.name}}
      </a>
    </li>
  </ul>
</div>