
<h2>Departments</h2>
<app-department-search></app-department-search>
<ul class="departments">
  <li *ngFor="let department of departments"
    [class.selected]="department===selectedDepartment"
    (click)="onSelect(department)"
    routerLink="/detail/{{department.id}}">
    <span class="badge">{{department.id}}</span> {{department.name}}
     <span class="remove" (click)="onRemove(department)">x</span>
  </li>
</ul>

<label>Department name:
    <input [(ngModel)]="name" placeholder="name"> 
    <button (click)="onClick(name)" >Add</button> 
  </label>


        
     
  

