
<h2>Departments</h2>
<ul class="departments">
  <li *ngFor="let department of departments"
    [class.selected]="department===selectedDepartment"
    (click)="onSelect(department)">
    <span class="badge">{{department.id}}</span> {{department.name}}
     <span class="remove" (click)="onRemove(department)">x</span>
  </li>
</ul>

<label>Department name:
    <input [(ngModel)]="name" placeholder="name"> 
    <button (click)="onClick(name)" >Add</button> 
  </label>

  <div *ngIf="selectedDepartment">    
      <div>
        <label>Department name Update:
          <input [(ngModel)]="selectedDepartment.name" placeholder="name">           
        </label>
      </div>
    </div>
        
     
  

