.table {
  width: 100%;
  border-collapse: collapse;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.table td {
  padding: 7px;
  border: #000000 1px solid;
}

.table tr:nth-child(odd) {
  background: #fda8fd;
}

.table tr:nth-child(even) {
  background: #ffffff;
}
.button
{
  margin-left: 1rem;
}