.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .tasks {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .tasks li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .1em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .tasks li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .tasks li:hover {
    color: rgb(12, 184, 27);
    background-color: #DDD;
    left: .1em;
  }
  .tasks .text {
    position: relative;
    top: -3px;
  }
  
  .remove {
    display: inline-block;
    color: #888;
    padding: 0.8em 0.4em 0 0.7em;
    line-height: 1em;
    position: absolute;
    right: 0px;
    top: -6px;
    height: 1.8em;
    margin-left: .8em;
    border-radius: 0 4px 4px 0;
  }
  .remove:hover{
    color: red;
  }
  