@import "~@ng-select/ng-select/themes/default.theme.css";
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .tasks {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .tasks li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .tasks li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .tasks li:hover {
    color: rgb(12, 184, 27);
    background-color: #DDD;
    left: .1em;
  }
  .tasks .text {
    position: relative;
    top: -3px;
  }
  .tasks .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: rgb(12, 184, 27);
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .remove {
    display: inline-block;
    color: #888;
    padding: 0.8em 0.4em 0 0.7em;
    line-height: 1em;
    position: absolute;
    right: 0px;
    top: -4px;
    height: 1.8em;
    margin-left: .8em;
    border-radius: 0 4px 4px 0;
  }
  .remove:hover{
    color: red;
  }
button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}
body {
  padding: 20px;
}
  .ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}
.departments {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.departments li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.departments li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.departments li:hover {
  color: rgb(54, 89, 163);
  background-color: #DDD;
  left: .1em;
}
.departments .text {
  position: relative;
  top: -3px;
}
.departments .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: rgb(54, 89, 163);
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
