<app-task-search></app-task-search>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Task</th>
      <th scope="col">Department</th>
      <th scope="col">Employee</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tr *ngFor="let task of tasks" [class.selected]="task === selectedTask" (click)="onSelect(task)">
    <td>
      <span (click)="showTask(task.id)">{{task.id}}</span>
    </td>
    <td><a class="link" routerLink="/detail2/{{task.id}}">
        <span>{{task.name}}</span></a></td>
    <td><span>{{task.department_id}}</span></td>
    <td><span (click)="showEmployee(task.employees)">{{task.employees}}</span></td>
    <td><button class="delete" (click)="delete(task)">delete</button></td>
  </tr>
</table>

<br>
<form class="form-inline"><span>Due date :</span>
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
        #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</form>
<label>Assign a department:</label>
<ul class="departments">
  <li *ngFor="let department of departments" [class.selected]="department === selectedDepartment"
    (click)="onSelected(department)">
    <span class="badge">{{department.id}}</span> {{department.name}}
  </li>
</ul>
<button (click)="onClick(name,selectedDepartment)">Add</button>